:root {
  --slate: #434455;
  --navy-blue: #2e2f42;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --white: #fff;
  --cloud: #f4f4fd;
}

/**
  |============================
  | Base styles
  |============================
*/
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background: var(--white);
}

.container {
  width: 1158px;
  margin-left: 156px;
  border: 1px solid var(--iris);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.placement-in-a-line {
  display: flex;
  flex-direction: row;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/*
=========================================
      Header
=========================================
*/

.top-line {
  width: 1158px;
  flex-shrink: 1;
  border-bottom: 1px solid var(--cornflower);
}

.logo {
  width: 115px;
  margin-top: 25.5px;
  margin-right: 36px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--navy-blue);
}

.navigation-box {
  margin-top: 24px;
  margin-right: 308px;
}

.text-link {
  margin-left: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.text-link:hover,
.text-link:focus {
  color: var(--ocean);
}

.contacts {
  margin-top: 24px;
  margin-bottom: 24px;
  font-style: normal;
}

.contact-box {
  margin-left: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.contact-box:hover,
.contact-box:focus {
  color: var(--ocean);
}

/* Main
=============================================
   1. Effective Solutions for Your Business
=============================================
*/
.title-box {
  width: 1158px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin-bottom: 120px;
  background: var(--navy-blue);
}

.main-title {
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.main-button {
  padding: 16px 32px 16px 32px;
  margin-left: 484px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--ocean);
  cursor: pointer;
}

/* 
=============================================
   2. Advantages
=============================================
*/
.main-advantages-section {
  margin-top: 120px;
}

.advantages-card {
  width: 264px;
  margin-right: 24px;
}

.advantages-title {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.opportunities-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

/* 
=============================================
   3. What are we doing
=============================================
*/

.opportunities-card {
  margin-top: 72px;
  margin-right: 24px;
  margin-bottom: 120px;
}

/* 
=============================================
   4. Our Team
=============================================
*/
.main-section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--cloud);
}

.card {
  padding-bottom: 32px;
  margin-top: 72px;
  margin-right: 24px;
  text-align: center;
  background-color: var(--white);
}

.card-name {
  margin-top: 32px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* 
=============================================
   Portfolio
=============================================
*/
.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white);
  background-color: var(--ocean);
  cursor: pointer;
}

.project-card {
  flex-wrap: wrap;
}

.filter-button-box {
}
.card-project-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

/* 
=============================================
   Footer
=============================================
*/
.footer-box {
  padding-top: 101.5px;
  padding-bottom: 100px;
}

.logo-studio-footer {
  color: var(--cloud);
}

.footer-box {
  background: var(--navy-blue);
}

.paragraf-box {
  width: 264px;
  margin-top: 17.5px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
